#title{
  background-color: #ff4c68;
  color:#ffff;
}
#heading{
  margin-top: 50px;
font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
    line-height:1.5;
}
h3{
  font-family: "Montserrat-Bold";
  font-size: 2rem;
   }

p{
  color:grey;
}
.container-fluid{
  padding:3%  15% 7%;
}

/* Headings */
.big-heading{

}




#dogimg{
  margin-top: 10px;
  width:60%;
  transform: rotate(20deg);
  position: absolute;
  right: 25%;
}


.navbar{
  padding: 0 ;
}
.nav-item{
  padding:  0 18px;
}

.nav-link{
font-size: 1.2rem;
font-family: "Montserrat-light";

}
.navbar-brand{
  font-style: Ubuntu;
  font-weight: bold;
  font-size: 2.5rem;
}
.download-button{

       padding:2% 2% 2% 2%;
     }
.download-button2{

            padding:0.5% 0.5% 0.5% 0.5%;
            margin: 1% 1%;
          }

/* feature section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;

}
.feature-box{
  text-align: center;
  pading:5%;
}

.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/* testimonials section */

#testimonials{
  background-color: #ff4c68;
  text-align: center;
  color:white;
 font-family: 'Solway', serif;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding:7% 15%;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%
}
.presslogo{
  width:15%;
  margin:10px 15px 10px;

}
#pricing{
  padding:100px;
  text-align: center;
}
.pricing-col{
  padding:3% 2%;
}
.card{
  margin:0 10% 0 ;
}
.cards2{
  padding:0 10% 0;
}



#cta{

  background-color: #ff4c68;
  text-align: center;
  margin-top: -5%;
  padding: 5%;
font-style: Ubuntu;}
@media (max-width:991px) {
  #title{
    text-align: center;
  }
  #dogimg{
    position: static;
    transform: rotate(0);
  }
  .mrgn{
    text-align: center;
  }
}


#cta{
  color: #fff;

}
.cta-heading{
font-family: "Montserrat-Black";
font-size: 2.5rem;
line-height: 1.5;
}

#footer{
  padding: 5% 0%;
  text-align: center;

}
.cnti{
     margin-left: 1%;
}
